.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  background: #454545;
  width: 86%;
  height: 160px;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.welcomeTitle {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
}

.welcomeText {
  margin: 20px 15px 5px 15px;
  color: #fff;
  font-family: sans-serif;
}

.link {
  color: #fff;
}

.about {
  background: #606060;
  width: 86%;
  height: 420px;
  margin-top: 30px;
}

.aboutHeader {
  background: #1B1B1B;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutHeaderTitle {
  color: #e6e6e6;
  font-family: sans-serif;
}

.aboutText {
  margin: 20px 10px 0 10px;

  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

.categoriesWrapper {
  background: #606060;
  width: 86%;
  min-height: 530px;
  margin: 30px 0 30px 0;

  display: flex;
  flex-direction: column;
}

.categoriesHeader {
  background: #1B1B1B;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.categoriesHeaderTitle {
  color: #e4e4e4;
  font-family: sans-serif;
}

.categories {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryLink {
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.category {
  background: #545454;
  width: 320px;
  height: 40px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.betaBanner {
  background: rgb(255, 228, 78);
  width: 100%;

  font-family: sans-serif;
  font-weight: 700;
}