




.main {
    display: flex;
    flex-direction: column;
}

.upload {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    font-family: sans-serif;
}

.input {
    background: #444444;
    width: 340px;
    height: 28px;
    margin-top: 15px;
    padding: 5px;

    border: none;
    outline: none;

    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.textarea {
    background: #444444;
    width: 340px;
    height: 120px;
    margin-top: 15px;
    padding: 5px;

    border: none;
    border-radius: 5px;
    resize: vertical;
    outline: none;

    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.input:focus {
    background: rgb(83, 83, 83);
}

.textarea:focus {
    background: rgb(83, 83, 83);
}

.btn {
    background: #c5c5c5;
    width: 100px;
    height: 30px;
    margin-top: 20px;

    border: none;
    border-radius: 25px;
    cursor: pointer;
}
