


.main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postHeader {
    background: #454545;
    width: 86%;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
}

.postHeaderTitle {
    margin: 15px 10px 0 10px;

    text-align: center;
}

.prBannerPending {
    background: rgb(134, 134, 134);
    width: 100%;
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prBannerApproved {
    background: rgb(5, 153, 0);
    width: 100%;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prBannerPartial {
    background: rgb(187, 190, 0);
    width: 100%;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prBannerRejected {
    background: rgb(180, 0, 0);
    width: 100%;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prBannerStatus {
    margin: 5px 0 5px 0;

    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.prBannerNotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prBannerNotesTitle {
    margin-top: 10px;

    color: #353535;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.prBannerNotesTitleRej {
    margin-top: 10px;

    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.prBannerNotesText {
    margin: 10px 20px 10px 20px;

    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.sourceLink {
    margin: 4px 0 4px 0;
}

.prBannerDate {
    margin-top: 10px;
}

.reviewer {
    margin: 3px 0 10px 0;
}

.appealBtn {
    background: #cccccc;
    height: 28px;
    margin-bottom: 10px;

    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.appealBtn:hover {
    background: #b3b3b3;
}

.errorText {
    margin-top: 200px;

    color: #fff;
    font-family: sans-serif;
}

.post {
    background: #545454;
    width: 86%;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    margin: 10px 10px 10px 10px;

    color: #e7e7e7;
    font-family: sans-serif;
}

.link {
    color: #3337ff;
}

.category {
    margin-top: 20px;

    color: #e7e7e7;
    font-family: sans-serif;
}

.date {
    margin-top: 10px;

    color: #fff;
    font-family: sans-serif;
}

.author {
    margin: 10px 0 10px 0;

    color: #e7e7e7;
    font-family: sans-serif;
}

.video {
    margin: 20px 0 30px 0;
}